extends layout

block content
  h1 Staff Lyft
  p.lead A place to find one-time gigs for Health Care Professionals
  hr
  .row
    .col-sm-6
      h2 Service Providers
      p Looking for work ?
      p
        a.btn.btn-default(href='/gig/list', role='button') View available jobs »
    .col-sm-6
      h2 Hospital Administrators
      p Have gigs to fill ?
      p
        a.btn.btn-default(href='/gig/create', role='button') Create gig:
      p Looking for service providers
      p
        a.btn.btn-default(href='/account/list', role='button') View Service providers »
      p Matches for gigs:
      p
        a.btn.btn-default(href='/gig/findGigMatches', role='button') View Service providers »

