extends ../layout

block content
  .page-header
    h3 Qualified Service Providers

  ul
    each val in qualifiedUsers
      li= val

  .page-header
    h3 Available Gigs

  ul
    each val in gigs
      li= val

