extends ../layout

block content
  .page-header
    h3 My Qualifications

  ul
    each val in qualifications
      li= val

  .page-header
    h3 Available Gigs

  ul
    each val in gigs
      li= val

